In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('2025-sp.csv') #df for data frame
df.head()

,Year,Term,YearTerm,Subject,Number,Name,Description,Credit Hours,Section Info,Degree Attributes,...,Section Status,Enrollment Status,Type,Type Code,Start Time,End Time,Days of Week,Room,Building,Instructors
0,2025,Spring,2025-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Closed,Lecture-Discussion,LCD,02:00 PM,03:20 PM,MW,304,Noyes Laboratory,"Geng, C"
1,2025,Spring,2025-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Open,Discussion/Recitation,DIS,09:00 AM,09:50 AM,F,1030,"Literatures, Cultures, & Ling","Siglos, D;Wang, Y"
2,2025,Spring,2025-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Open,Discussion/Recitation,DIS,10:00 AM,10:50 AM,F,1030,"Literatures, Cultures, & Ling","Siglos, D;Wang, Y"
3,2025,Spring,2025-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Open,Discussion/Recitation,DIS,11:00 AM,11:50 AM,F,1030,"Literatures, Cultures, & Ling","Kim, G;Siglos, D"
4,2025,Spring,2025-sp,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi...",...,A,Open,Discussion/Recitation,DIS,12:00 PM,12:50 PM,F,1030,"Literatures, Cultures, & Ling","Kim, G;Siglos, D"

In [87]:
#filters that could be applied to dataset
filtSubject = df['Subject'].str.contains('CS')
filtSubject = df['Subject'] == 'CS'
filtNum = df['Number'] == 173
filtBoth = filtSubject & filtNum

In [89]:
#applying filters
filt = filtBoth
#df[filt].head(20)
df.loc[filt, ['Subject', 'Number', 'Start Time', 'Days of Week',"Building"]].head(10)

     Subject  Number Start Time Days of Week                       Building
3094      CS     173   09:30 AM           TR  Campus Instructional Facility
3095      CS     173   09:30 AM           TR  Campus Instructional Facility
3096      CS     173   03:30 PM           TR  Campus Instructional Facility
3097      CS     173   03:30 PM           TR  Campus Instructional Facility
3098      CS     173   02:00 PM           TR  Campus Instructional Facility
3099      CS     173   02:00 PM           TR  Campus Instructional Facility